{% extends "base.html" %}

{% block title %}PUSH CONF{% endblock %}

{% block content %}
<div style="text-align: center; margin-top: 100px">
    <h1>Push OSPF config</h1>
<div class="form-container">
    <form action="/ospf-push" method="post">
        <div class="form-row">
            <text>Enter device name:</text>
            <input 
            type="text" 
            placeholder="Device name" 
            name="device"
            />
        </div>
        <div class="form-row">
            <text>Enter an IP address on any interface on the device:</text>
            <input 
            type="text" 
            placeholder="Interface IP" 
            name="IPv4"
            />
        </div>
    </div>
        <div class="button-container">
            <button type="submit" class="btn btn-secondary" onclick="togglePush()">Push</button>

            <input type="hidden" name="push" value="no" id="push">
        <button type="submit" class="btn btn-secondary" onclick="togglePushall()" style="padding-top: 10px;">Push all</button>
        </div> 
        

    </form>


    {% if m == "NA" %}
        <h3 id="file1" style="color: red;"></h3>Configuration not pushed</h3>
    {% elif m == " "%}
        
    {% elif m != "NA" %}
        <h3 id="file" style="color: green; padding-top: 20px;">{{m}}</h3>
    {% endif %}

    <script>

        function togglePushall(){
            var pus = document.getElementById("push")
            if (pus.value == "no"){
                pus.value = "push"
            }
        }
        
        function togglePush(){
            var pus = document.getElementById("push")
            pus.value = "no"
        }




        function hideElementAfterTimeout(elementId, timeout) {
            setTimeout(function() {
                var element = document.getElementById(elementId);
                if (element) {
                    element.style.display = 'none';
                }
            }, timeout);
        }
        hideElementAfterTimeout('file', 60000); 
        hideElementAfterTimeout('file1', 3000); 

    </script>
</div>
{% endblock %}

