router bgp {{ bgp_as }}
 {% if router_id -%}
    router-id {{ router_id }}
 {% endif -%}
 {% if bgp_networks -%}
 {% for network in bgp_networks -%}
   network {{ network.ip }} mask {{ network.mask }}
 {% endfor -%}
 {% endif -%}
 {% if bgp_neighbors -%}
 {% for neighbor in bgp_neighbors -%}
   neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
 {% endfor -%}
 {% endif -%}
 {% if ospf_redistribute -%}
   redistribute ospf {{ ospf_redistribute.process_id }}
 {% endif -%}
