{% for sub in subinterfaces %}
interface {{ sub.parent }}
   no switchport
   no shutdown

interface {{ sub.parent }}.{{ sub.id }}
   encapsulation dot1Q {{ sub.vlan }}
   ip address {{ sub.ip }} {{ sub.mask }}
   no shutdown

{% endfor %}
