<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/script.js" defer></script>
</head>
<body>
    <header id="header">
        <nav>
            <ul class="nav-home">
                <li class="home-link"><a id="home-link" href="/">Ash Chan</a></li>
            </ul>
            <ul class="nav-list">
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="/photography" target="_blank">My Photography</a></li>
                <li><a href="https://github.com/AshChanCUB/" target="_blank">GitHub</a></li>
                <li><a id="linkedin-link" href="https://www.linkedin.com/in/ash250898/" target="_blank">LinkedIn</a></li>
                <li><a href="#social">Social</a></li>
            </ul>
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
        <div class="linkedin-badge" id="linkedin-badge">
            <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="ash250898" data-version="v1">
                <a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/ash250898?trk=profile-badge"></a>
            </div>
        </div>
    </header>
    <main>
        <section id="status" class="section">
            <h1>Current Status</h1>
            <section id="carousel" class="section carousel-section">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/static/images/slide1.jpg" class="d-block w-100" alt="Slide 1">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/static/images/slide2.jpg" class="d-block w-100" alt="Slide 2">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/slide3.jpg" class="d-block w-100" alt="Slide 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </section>
        </section>
        <section id="about" class="section">
            <h1>Ashwin Chandrasekaran</h1>
            <div class="image-gallery">
                <div class="image-container">
                    <img src="/static/images/left.jpeg" alt="Left Image" class="gallery-image image">
                    <div class="bio">Born in Tiruppur, Tamil Nadu, India<br>Currently in Santa Clara, California<br>Computer Networking is my passion</div>
                </div>
                <div class="image-container">
                    <img src="/static/images/center.jpeg" alt="Center Image" class="gallery-image image">
                    <div class="bio">System Test Engineer Intern at Arista<br>Master's in Networking at CU Boulder<br>Ex-Automation Test Analyst at Cognizant<br>Bachelor's in Communication at Amrita</div>
                </div>
                <div class="image-container">
                    <img src="/static/images/right.jpeg" alt="Right Image" class="gallery-image image">
                    <div class="bio">Ohh I love Hiking, Photography, Guitar, Cats, Soccer, F1</div>
                </div>
            </div>
        </section>
        <section id="projects" class="section">
            <h1>Projects</h1>
            <div class="project-wrapper" id="project-wrapper">
                <div class="project-tile-container">
                    <div class="project-tile">
                        <img src="/static/images/Zoo.png" alt="Virtual Colorado Zoo">
                        <h2>Virtual Colorado Zoo</h2>
                        <p>Description of Virtual Colorado Zoo</p>
                    </div>
                    <div class="project-tile">
                        <img src="/static/images/BVP_1.png" alt="BVP Network Design">
                        <h2>BVP Network Design</h2>
                        <p>Description of BVP Network Design</p>
                    </div>
                    <div class="project-tile">
                        <img src="/static/images/SG.png" alt="ScheduleGenius">
                        <h2>ScheduleGenius</h2>
                        <p>Description of ScheduleGenius</p>
                    </div>
                    <div class="project-tile">
                        <img src="/static/images/NautoHUB.png" alt="NautoHUB">
                        <h2>NautoHUB</h2>
                        <p>Description of NautoHUB</p>
                    </div>
                    <div class="project-tile">
                        <img src="/static/images/ISP.png" alt="ISP">
                        <h2>ISP</h2>
                        <p>Description of ISP</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="resume" class="section">
            <h1>Resume</h1>
            <p>Insert your resume details or link to your resume here.</p>
        </section>
        <section id="hobbies" class="section">
            <h1>Hobbies</h1>
            <p>List your hobbies here.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Ashwin Chandrasekaran. All rights reserved.</p>
    </footer>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    <script src="/static/js/script.js" defer></script>
</body>
</html>
